
// buttons

.theme__colors {
  @extend %btn;
}

.btn {
  @include btn-color ($button-colors) {
    text-transform: uppercase;
    width: 90%;
    @include mq(medium) {
      display: inline-block;
      width: 12.5%;
      margin: 1em;
      font-size: 15px;
    }
  }
}
