
// images

.img {
  &--frame {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: $content-spacing;
    width: 410px;
    height: 200px;
  }
  &--avatar {
    margin-top: $content-spacing;
    padding-top: 10px;
  }
}

// is there a way to add margin-top from avatar to frame for less code


/* logo */

.img--logo {
  margin-top: $content-spacing;
}
