
/* base */

* {
  box-sizing: border-box;
  font-family: $font-stack-primary;
}

p {
  font-size: $font-size-p;
  margin: 1.5em 0;
  /* edit values */
}

a {
  text-decoration: none;
  font-size: $font-size-p;
  color: $color-accent;
  &:hover {
    color: $color-primary;
  }
}

ul {
  list-style-type: none;
  padding: 0; /* center align / move left / without bullet */
}



/* logo */

.img--logo {
  margin-top: $content-spacing;
}

// container

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  @media (min-width: $breakpoint-med) {
    width: 80%;
  }
}
